/* standard code */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* end of standard code */

body {
    background-color: beige;
    font-family: 'Poppins';
    padding: 2em;
}