{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% csrf_token %}
    <div id="app1">
{% if user.recruiter %}
    <h2>Hi {{ user.username }}!</h2>
    <p><a href={% url "home" %}>Home</a>
        <a href="{% url 'logout' %}">Log Out</a></p>
    <h3>Would you like to create a Job?</h3>
    {% comment %} <the-component-name></the-component-name> {% endcomment %}
    <button @click="toggleCreateJobBlock" v-if="!showCreateJobBlock">Create a Job</button>
    <button @click="toggleCreateJobBlock" v-if="showCreateJobBlock">Hide Create</button>
    <div>
        <create-job-block 
            @create-job-global = "createJob"
            v-if="showCreateJobBlock"
        > </create-job-block>
    </div>
    {% comment %} <button @click=showDetailJobView>Show Edit</button> [[ showEditJobBlock ]] {% endcomment %}
    <update-job-block 
        v-if="showEditJobBlock"
        v-bind:single-job=singleDetailJob
        @edit-single-job-global = "updateJob">
    </update-job-block>
    <div v-if="jobList.length">
        <h3>Jobs Posting</h3>
        <ul>
            <list-jobs-block 
            v-for="job in jobList" 
            v-bind:job="job" 
            v-bind:key="job.id"
            @edit-job-global = "showDetailJobView"
            @delete-job-global = "deleteJob">
            </list-jobs-block>
        </ul>
    </div>
{% elif user.is_authenticated %}
    <h2>Hi {{ user.username }}!</h2>
    <p><a href={% url "home" %}>Home</a>
        <a href="{% url 'logout' %}">Log Out</a></p>
        <input type="text" v-model="inputText" size="50">
        <button v-on:click="searchJobs">Search Keyword</button>
        <div v-if="searchJobsList.length">
            <h3>This is your search term: [[ currentSearch ]]</h3>
            <ul>
                <job-block 
                v-for="job in searchJobsList" 
                v-bind:job="job" 
                v-bind:key="job.id"
                @apply-job-global = "jobApply">
                </job-block>
            </ul>
        </div>
        <div v-if="jobList.length">
            <h3>Job List</h3>
            <ul>
                <job-block 
                v-for="job in jobList" 
                v-bind:job="job" 
                v-bind:key="job.id"
                @apply-job-global = "jobApply">
                </job-block>
            </ul>
        </div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
    </div>
{% endblock %}